<aside id="sidebar" class="sidebar">
   <ul class="sidebar-nav" id="sidebar-nav">
      <li class="nav-item"> <a class="nav-link " routerLink="/dashboard"> <i class="bi bi-grid"></i>
            <span>Dashboard</span> </a></li>
      <li class="nav-item">
         <a class="nav-link collapsed" data-bs-target="#components-nav" data-bs-toggle="collapse" href="#"> <i
               class="bi bi-menu-button-wide"></i><span>Manage Technician</span><i
               class="bi bi-chevron-down ms-auto"></i>
         </a>
         <ul id="components-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
            <li> <a routerLink="/addTechnician"> <i class="bi bi-circle"></i><span>Add Technician</span> </a></li>
            <li> <a routerLink="/listTechnician"> <i class="bi bi-circle"></i><span>List Technician</span> </a></li>
         </ul>
      </li>
      <li class="nav-item">
         <a class="nav-link collapsed" data-bs-target="#forms-nav" data-bs-toggle="collapse" href="#"> <i
               class="bi bi-journal-text"></i><span>Manage Clients</span><i class="bi bi-chevron-down ms-auto"></i> </a>
         <ul id="forms-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
            <li> <a routerLink="/addProcess"> <i class="bi bi-circle"></i><span>Add Process</span> </a></li>
            <li> <a routerLink="/addClients"> <i class="bi bi-circle"></i><span>Add Clients</span> </a></li>
            <li> <a routerLink="/listClient"> <i class="bi bi-circle"></i><span>List Clients</span> </a></li>
         </ul>
      </li>
      <li class="nav-item">
         <a class="nav-link collapsed" data-bs-target="#icons-nav" data-bs-toggle="collapse" href="#"> <i
               class="bi bi-gem"></i><span>Manage Greenhouse</span><i class="bi bi-chevron-down ms-auto"></i> </a>
         <ul id="icons-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
            <li> <a routerLink="/addGreenHouse"> <i class="bi bi-circle"></i><span>Add GreenHouse</span> </a></li>
            <li> <a routerLink="/listGreenHouse"> <i class="bi bi-circle"></i><span>Generate QR code</span> </a></li>
         </ul>
      </li>
      <!-- <li class="nav-item">
         <a class="nav-link collapsed" data-bs-target="#tables-nav" data-bs-toggle="collapse" href="#"> <i
               class="bi bi-layout-text-window-reverse"></i><span>Manage Storage</span><i
               class="bi bi-chevron-down ms-auto"></i> </a>
         <ul id="tables-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
            <li> <a routerLink="/tables-general"> <i class="bi bi-circle"></i><span>General Tables</span> </a></li>
            <li> <a routerLink="/tables-data"> <i class="bi bi-circle"></i><span>Data Tables</span> </a></li>
         </ul>
      </li>
      <li class="nav-item">
         <a class="nav-link collapsed" data-bs-target="#charts-nav" data-bs-toggle="collapse" href="#"> <i
               class="bi bi-bar-chart"></i><span>GreenHouse Statics</span><i class="bi bi-chevron-down ms-auto"></i>
         </a>
         <ul id="charts-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
            <li> <a routerLink="/charts-chartjs"> <i class="bi bi-circle"></i><span>Chart.js</span> </a></li>
            <li> <a routerLink="/charts-apexcharts"> <i class="bi bi-circle"></i><span>ApexCharts</span> </a></li>
         </ul>
      </li> -->
      <!-- <li class="nav-item"> <a class="nav-link collapsed" routerLink="/pages-error404"> <i
               class="bi bi-dash-circle"></i> <span>Error 404</span> </a></li> -->
   </ul>
</aside>